[2016-06-23 16:09] johncoxon opened #3 "Trying to get the magnetic longitude for 6.63h MLT on 2011-10-06 12:46 UT gives RuntimeError"
[code]

Why is this occurring? I couldn't find anything about what an error code of -1 denotes.

[2016-06-23 17:17] cmeeren commented on #3
Thank you for the report. Karl and I are aware of problems with the MLT being undefined and causing a crash in the C library. We are currently speaking to Simon Shepherd to determine the best course of action. There is no immediate fix in sight; if you can, I suggest you try apexpy instead (which uses Apex coordinates - they're almost identical to AACGMv2 at high latitudes, and are defined everywh

[2016-06-23 20:46] klaundal commented on #3
I have a fix more or less ready. I'll try to get it posted tomorrow.

[2016-06-24 08:24] cmeeren commented on #3
@klaundal, did you talk to Simon about how best to proceed concerning MLT? Or is this the fix you originally submitted a while back?

[2016-06-24 09:15] klaundal commented on #3
@cmeeren, This is the fix that I submitted before. I'll try to get it right this time. It's not done the way Simon suggested, but I believe this is more appropriate. We should just be careful to add documentation to explain how we do it, and that it is different from the latest C/IDL code implementation.

[2016-06-24 10:07] cmeeren commented on #3
Yep. Be sure to update the documentation too. And after submitting the pull request, the test values probably need to be updated before merging (we'll get back to that).

[2016-06-24 12:56] johncoxon commented on #3
@cmeeren Thanks, I've downloaded apexpy and the code falls back to using that instead when it catches a `RuntimeError`. I'll keep an eye on this library and upgrade when the problem's fixed.

[2016-11-03 22:21] cmeeren commented on #3
Should be fixed in the brand new v2.0.0.

[2016-11-03 22:21] #3 closed

[2017-04-18 19:24] DerekMcKay opened #5 "Units and conventions needed in documentation"
In the documentation, it would be useful to include the units and conventions. For example, is the longitude in degree or radians? Is east positive, or is west positive? Is the altitude in feet, metres or kilometres? What is the reference level for the altitude; the spheroid or an average Earth radius or what?

Yes, in principle one can open up the code and take a look, but it would save a lot of

[2017-04-18 19:34] cmeeren commented on #5
Sure, that makes sense. Could you make a pull request? As far as I can remember (I haven't used this in a year and won't ever use this again; I've left academia), it's degrees (east positive) and km, does that sound right? I don't remember what the reference level is.

[2017-04-19 06:27] klaundal commented on #5
I can confirm that it is degrees, east positive, and km. I agree that it should be in the documentation.

The reference height is more complicated, and I think it would be best to just reference Richmond's 1995 paper for this, or the 2016 Laundal & Richmond review paper. The reference height is relevant only for the modified apex latitude, which is defined like this: Trace from the point in questi

[2017-06-22 07:53] thaitrinh opened #6 "convert from geomagnetic to geographic doesn't work with latitude in [-11, 11]"
OS: MacOS Sierra 10.12.5
AACGMV2 1.0.13
`convert(lat=-10.,lon=60., alt=250, date=date(2010, 6, 15), a2g=True)`
Error: RuntimeError: AACGM_v2_Convert returned error code -1

[2017-06-22 07:55] cmeeren commented on #6
AACGM is known to have problems in certain regions, specifically near the equator. Try https://github.com/cmeeren/apexpy instead.

[2017-06-22 07:56] thaitrinh commented on #6
@cmeeren: Thank you very much!

[2017-06-22 08:28] thaitrinh commented on #6
I think I understood what the problem is. For the low magnetic latitudes (near equator) both AACGM and Apexpy have problem when the altitude is so high. For example, for lat=-11, the maximum altitude can only be 241 km, for lat=-5, the maximum altitude can be only 48.8 km. Do you know why? Thank you!

[2017-06-22 08:31] cmeeren commented on #6
If I remember correctly, apexpy doesn't have these limitations since it uses the APEX model which AFAIK is defined everywhere. I don't remember the details of why; @klaundal might be able to explain more.

[2017-06-22 11:55] klaundal commented on #6
You are trying to convert magnetic to geographic coordinates. In aacgm and modified apex, the magnetic coordinates (mlon, mlat) essentially label the IGRF field lines (they are constant along these lines, except for a sign change between hemispheres). The height tells you where on the field line your point is. Since the field lines do not extend infinitely far out in space, there will be a limit t

[2018-03-08 22:57] #6 closed

[2018-03-20 00:54] #5 closed

[2018-03-30 13:54] billrideout opened #14 "Problem with pip install aacgmv2"
When I install aacgmv2 via pip, it is putting the files listed below directly in the site-packages directory, instead of in a subdirectory called aacgmv2. But the aacgmv2 module expects the files to be in that subdirectory, so the import fails unless you manually create that directory under site-packages, and move these files.  This problem has occured on linux systems here at MIT Millstone Hill,

[2018-04-04 15:02] aburrell commented on #14
Thank you for the issue report, I'll get on this ASAP.

[2018-04-05 01:11] aburrell commented on #14
The new upload to pip addresses this issue.

[2018-04-05 01:11] #14 closed

[2018-04-05 12:58] billrideout commented on #14
Thanks for fixing this issue with the aacgmv2 install!  -Bill

[2018-05-19 23:44] kay431 opened #18 "bug in convert_mlt"
on Ubuntu 16.04

there is seems to be a bug in convert_mlt:

In [1443]: aacgmv2.convert_mlt(0, dt.datetime(1997,12,30,5,0,0), m2a=True)
Out[1443]: 77.17430936596469

In [1444]: aacgmv2.convert_mlt(0, dt.datetime(1997,12,30,10,0,0), m2a=True)
Out[1444]: 77.17430936596469

In [1445]: aacgmv2.convert_mlt(0, dt.datetime(1997,12,30,15,0,0), m2a=True)
Out[1445]: 77.17430936596469

In [1446]: aacgmv2.con

[2018-05-21 14:18] aburrell commented on #18
Thank you for reporting this bug @kay431.  I verified it and found the cause.  I'm addressing this in #19 and will have a new version out soon.

[2018-05-22 09:16] aburrell commented on #18
This bug has been fixed in the master branch in #20 and the new release 2.4.2.

[2018-06-05 14:22] johncoxon opened #21 "Can't pass series of datetimes to accompany series of coordinates"
When converting coordinates, you can pass a timeseries of coordinates but not the accompanying datetimes to `aacgmv2.convert`. I would have expected to be able to pass a series of datetimes which was the same length as the coordinates to be converted.

I'm not sure how much difference the datetime makes to the conversion when dealing with timescales of seconds, so I'm just using the first datetime

[2018-06-12 16:31] aburrell commented on #21
Hi @johncoxon!

This functionality is a result of the way that the C code for AACGM is structured.  Because you need the time to look up the correct coefficients, it's possible to vectorise with respect to location at a specific time.  However, you need to loop over the different time instances.  So, no vectorisation.

Cheers,
Angeline

[2018-06-12 16:31] #21 closed

[2018-10-04 09:38] lily771115 opened #24 "How to mute BELOW during the conversion?"
It seems that "BELOW" would be printed out if accessing the forbidden area. The pure python code can't mute this.   I have a batch processing with tqdm, and "BELOW" interrupts and duplicates the progress bar.

[code]
I have no idea with how to comment printf of C source code and compile it then pack it into python package. "BELOW" also returns nan and I applied the interpolate to converting nans.

[2018-10-04 12:43] aburrell commented on #24
Hi @lily771115 , I need more information before I can help you.  Could you please include:

- Your operating system name and version
- Any details about your local setup that might be helpful in troubleshooting
- Detailed steps to reproduce the bug

[2018-10-09 19:00] aburrell commented on #24
Thank you for the information.  I can reproduce your output and see why this is an issue.  As a wrapper, we try not to fuss much with the C code, but introducing a verbosity flag would help you and future users.  I'm going to tag this as an enhancement and talk to Dr. Shepherd about making this change.

There are options for redirecting C-stream output in python, but they vary a lot by python vers

[2018-10-10 18:24] billrideout opened #25 "Environmental variable warnings printed to stdout"
When running aacgmv2 with a virtual environment, the warnings about environmental variables in __init__.py are printed to stdout.  When using your module, this causes the warnings to leak into my script output.  If you would change all the print() statements in __init__.py to sys.stderr.write() statements, the warnings would go to stderr and would solve my issue.  For now, I simply edited the file

[2018-10-16 14:05] aburrell commented on #25
Thank you for the feedback, I'll make this change.

[2018-10-16 14:17] aburrell commented on #24
This is addressed in #26.  If you could test this to make sure it works for you, I would appreciate it.

[2018-10-16 14:31] aburrell commented on #25
Addressed in #27.  Ff you have time to test this, I would appreciate another set of eyes.  If not, I'll merge it in this week.

[2018-10-19 06:03] lily771115 commented on #24
Hi @aburrell , it works fine for me. Thank you so much. :)

[2018-10-19 12:38] #25 closed

[2018-10-19 12:38] #24 closed

[2018-10-19 12:48] aburrell commented on #24
Thank you for your help, and for bringing this to my attention!

[2019-01-11 12:19] johncoxon opened #31 "I didn't notice that convert was deprecated"
I have been using `aacgmv2.convert` because, when I first imported the `aacgmv2` module, I simply typed `aacgmv2.` and then hit tab in my Jupyter notebook, and chose `convert` because it looks like the most sensible of the methods that present themselves when one does that. I've just noticed that the `convert` routine is in `deprecated.py`, and I should probably have been using something like `get

[2019-01-11 12:23] aburrell commented on #31
This is a great point John.  I kept convert as one of the available routines to avoid breaking anyone's code, but it would be better to throw up a deprecation warning and eventually remove it in a future major release.

[2019-01-14 13:05] aburrell commented on #31
I'll merge this into master in about a month.  I'd like make a few more stylistic improvements before pushing out another minor release.

[2019-01-14 13:05] #31 closed

[2019-03-16 02:35] asreimer opened #33 "Question: logbook dependency"
Quick question, why is the `logbook` used instead of `logging`? I didn't dig through the codebase much, but it doesn't look like the features of logbook are being used in a way that necessitates using it?

[2019-04-11 20:08] aburrell commented on #33
At some point logging was deprecated and logbook was the replacement.  I made the change, but then started using warnings more and kept logging for more informational output.

[2019-04-11 20:09] aburrell commented on #33
If you have a compelling reason to change things, I have a deprecation warning that needs to be propagated from the develop to the master branch and am willing to do some additional stylistic fine-tuning.

[2019-04-11 20:26] asreimer commented on #33
`logging` was deprecated? I can't find any information about this with a Google search. It's included in python 3.7 even: https://docs.python.org/3/library/logging.html

Mostly just curious. The most compelling reason to use `logging` instead of `logbook` is that users don't need to install another dependency if `logging` is used, especially if none of the `logbook` functionality is being used.

[2019-04-11 22:04] aburrell commented on #33
I wish I could point you somewhere, but it was a few years ago and I don't remember.  Clearly it didn't happen.

Removing dependencies is a good enough reason for me.  I will put it on the to-do list.

[2019-04-12 18:11] asreimer commented on #33
No worries. I am mostly curious because we use logging a lot and if it were deprecated I would want to be moving away from it to something else!

[2019-06-06 15:06] johncoxon opened #34 "nan handling is not what I would expect"
**Describe the bug**
The library appears to introduce spurious data duplicates when an input contains `nan`.

**To Reproduce**
Set the following variables:
[code]
Then, run the following line of code:
[code]
which results in this output:
[code]
**Expected behavior**
I would expect the middle of each of the output arrays to be `nan`, or for the code to throw some exception or error.

**Desktop:**
-

[2019-06-06 15:10] johncoxon opened #35 "Total Python hang with certain values passed to get_aacgm_coord_arr"
**Describe the bug**
In some circumstances, `get_aacgm_coord_arr` completely hangs.

**To Reproduce**
Run `aacgm.get_aacgm_coord_arr(44.757, 286.893, 6371000000.2, dt.datetime(2001,1,1,2,26))` and Python completely hangs.

I initially thought this was because `height` was set too high, but `aacgm.get_aacgm_coord_arr(0., 180., 1000000000000000000., dt.datetime(2001,1,1,2,26))` doesn't hang, and I d

[2019-06-19 20:54] aburrell commented on #35
It looks like it's probably hanging because it expects an array or list but is getting a float.  No idea why the other one is working.  I'm adding a fix for this.

[2019-06-19 21:22] aburrell commented on #35
Ok, I cleaned up the array/float handling (it was there but could handled better) so that wasn't the issue.  It looks like there might be a problem in the C code.

[2019-06-20 09:15] johncoxon commented on #35
Is it worth having `get_aacgm_coord_arr` throw a `ValueError` before the call to the C code in cases where the height is nonsensical, to prevent the hang? That seems like the simplest way to prevent this happening in other people's code?

[2019-06-20 15:29] aburrell commented on #35
Ok, I found that the case you found caused the tracing routine to diverge.  I added an additional exit condition, but want to clear it with Simon since it's in the C code.

[2019-06-20 15:30] aburrell commented on #35
@johncoxon limiting the height is also a good thing to do, but I highly support having enough exit conditions to prevent corner cases from causing infinite loops :-P

[2019-06-20 20:01] aburrell commented on #34
This is odd.  I can't reproduce your error.  For entries with NaN, I get NaNs returned.

[2019-06-24 11:15] johncoxon commented on #34
That is strange! I tried it in IPython and Python and get the behaviour in both -- I'm using `aacgmv2` version `2.4.2`, is that not the latest perhaps?

[2019-06-24 13:26] aburrell commented on #34
I was using the develop branch.  Would you mind giving that a try?

[2019-06-24 13:53] johncoxon commented on #34
I switched to the develop branch and ran `python setup.py install` and then ran the code above and I got the same result… Do I need to try to run the install forcing it to recompile the C code?

[2019-06-24 13:55] aburrell commented on #34
No, it should work.  Ok... I'll take another look at this after I finish issue #35

[2019-06-24 14:04] johncoxon commented on #34
Doing `python setup.py install` from the `develop` branch of the Git repo (after deleting any path matching `aacgmv2.+` in `site-packages`) looks like this:

[code]

I'll stick with the current installation for now, since this is exactly what I need. Thanks for your help!

[2019-06-24 14:04] #34 closed

[2019-07-12 20:48] aburrell commented on #33
Addressed in new branch, will be out in the next version.

[2019-07-12 20:51] aburrell commented on #35
So the infinite loop fix I did basically ends up causing all tracing to fail.  Instead, I'm looking at establishing an upper limit on a sensible altitude.  Any guidelines/ideas you have would be helpful @johncoxon.

[2019-07-16 20:41] aburrell commented on #35
@johncoxon do you mind testing the pull request: #36 ? There are three versions of python/windows that are failing on appveyor but it passes for linux machines on travis.  Would be good to have your eyes on it to ensure the warning message is informative and useful.

[2019-07-17 12:49] johncoxon commented on #35
I'm happy to test it! I'm currently working on a proposal but I've added it to my to-do list…

[2019-07-18 15:28] billrideout opened #37 "Problem with warning even when env variables not changing"
I was wondering if we could change the __init__.py method to not output a warning when the two env variables are being set to what they already were.  In the version below the warning only occurs if they are being set to a different value. In the present version there is a warning even if the value is not changing. I get this warning when python calls a subprocess that also imports aacgmv2. Here a

[2019-07-18 19:59] aburrell commented on #37
This is a good idea, thanks for supplying the code lines.  I'll be sure to make this change before the next version release.

[2019-07-19 21:51] aburrell commented on #37
Ok, made the changes.  Would you mind testing #38 to make sure the behaviour works well for you on your system?

[2019-07-22 13:40] billrideout commented on #37
Angeline,

That worked well on my system.  Here's what I got before the update:

(gps3) Bills-MacBook-Pro:~ brideout$ export AACGM_v2_DAT_PREFIX=/anaconda3/envs/gps3/lib/python3.7/site-packages/aacgmv2/aacgm_coeffs/aacgm_coeffs-12-
(gps3) Bills-MacBook-Pro:~ brideout$ python
Python 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help"

[2019-07-22 13:51] aburrell commented on #37
Thank you!

[2019-07-22 13:51] #37 closed

[2019-07-22 19:32] aburrell commented on #35
Great!  It's ready to merge now.  Once you test it I'll do another release to master.

[2019-08-16 20:04] mts299 opened #39 "Copyright and License disclaimer"
In the future, you may want to add a copyright line at the top with a disclaimer indicating where the license file and maybe which license you are using as this is a requirement of the MIT license.
For example:
[code]
This will help users know who to contact about the code or what privileges they have based on the license.

As a reminder LICENSES trump copyrights privileges, so open-source license

[2019-08-16 21:31] #35 closed

[2019-08-16 21:31] #33 closed

[2019-08-23 11:40] aburrell commented on #39
Did this one a bit too early in the morning and made the commit straight to develop.

[2019-08-23 11:40] #39 closed

[2019-09-19 21:37] aburrell opened #41 "Appveyor on master branch"
**Describe the bug**
Appveyor will succeed on the develop branch, but will fail when develop is pulled into master.

[2019-10-24 14:11] johncoxon commented on #35
I pulled from the `develop` branch this morning and installed `aacgmv2` to bring myself to v2.5.2 and tested it out:
[code]

Seems to work great!

[2019-10-24 14:51] johncoxon opened #42 "nans taking over the output of get_aacgm_coord_arr"
**Describe the bug**
Sometimes, `nan` takes over the output of `get_aacgm_coord_arr`.

**To Reproduce**
Run the following code:
[code]
and you get:
[code]

Running `get_aacgm_coord_arr` with `method=allowtrace` eliminates all the `nan` values in the above example, implying that setting `allowtrace` as the default `method` might help, but the following code also exhibits the same bug:
[code]
This c

[2019-11-08 16:10] aburrell commented on #42
@johncoxon could you test #43 ?  It should be good to go now.

[2019-11-08 16:11] aburrell commented on #41
May be addressed by #43 .

[2019-11-20 10:52] johncoxon commented on #42
Hi Angeline, I've checked out `origin/NaN_bug_get_aacgm_coord` and `python setup.py install`'d it, and I still get the behaviour I've reported above, I'm afraid.

[2019-11-20 11:55] johncoxon commented on #42
The proposed bug fix actually breaks some existing behaviours, as now `get_aacgm_coord_arr` returns lists rather than arrays which causes some of my existing code to need modification to cope with that; I've reverted back to `master` for now so I don't have to write workarounds into my code.

[2019-11-20 19:18] aburrell commented on #42
Hi @johncoxon , can you show me the results you got after installing it?  I can't move forward without being able to reproduce your failure.

[2019-11-20 19:20] aburrell commented on #42
Yeah, in order to do this in C, the output has to be a list.  The python wrappers could cast the output as numpy arrays, and from your feedback I am guessing that would be a desired behaviour?

[2019-11-21 13:56] johncoxon commented on #42
Sorry, I should have said--the results I get after installing are the same as in the initial bug report:
[code]
I do now get two errors which say `C Error encountered: <built-in function convert_arr> returned a result with an error set`, though, if that helps? I'm confident that I've installed the changed version because I've had to wrap the lists in `np.array()`s for now.

[2019-11-22 11:30] johncoxon commented on #42
[code]
I pulled the latest changes on `NaN_bug_get_aacgm_coord` and this is the result, so I think this bug is addressed in that branch. Should be good to merge into the main repo!

[2019-11-22 15:11] aburrell commented on #42
Ok, I merged into develop and will prepare the version bump to major next week.

[2019-12-05 09:15] TeriForey opened #44 "code to method_code parameter change not documented"
**Describe the bug**
In the minor change from 2.5.1 to 2.5.2 you've changed the input parameter name in `convert_latlon` from 'code' to 'method_code'. This isn't in the documentation, nor is it in the changelog. It meant that the package I've developing which uses this function no longer works without me either updating it, or fixing the version of aacgmv2 to 2.5.1.

**To Reproduce**
Steps to repr

[2019-12-05 20:45] aburrell commented on #44
Thanks for finding this.  Looking at the code, I remember now that this was changed in response to a request for having more descriptive variable names.  I can probably get to this next week.  Here's what I plan to do:

1) update the documentation
2) update the changelog
3) add an option to use `code`, but its use will trigger a deprecation warning that the user should switch to `method_code`
4) s

[2019-12-16 15:04] aburrell commented on #44
@TeriForey, would you be able to run the test in pull request #45 to ensure that the behavior fixes the `code` bug you found?

[2019-12-16 15:19] TeriForey commented on #44
Thanks @aburrell that looks to have fixed the bug. The test works and I can see the deprecation warning when using `code`.

[2019-12-16 15:31] aburrell commented on #44
@TeriForey I will let you know when the new version with this change comes out (realistically, before Christmas).  In the meantime, I am merging this fix into develop.

[2019-12-23 18:25] #44 closed

[2019-12-23 19:33] #41 closed

[2019-12-23 19:33] #42 closed

[2020-02-06 21:02] asreimer opened #49 "Keep utility functions currently marked as deprecated"
Currently, there are 3 functions in `aacgmv2.deprecated`:
* `gc2gd_lat`
* `igrf_dipole_axis`
* `subsol`

Arguably, `gc2gd_lat` could be deprecated since this kind of function is better served via something like [pymap3d](https://github.com/scivision/pymap3d), however, the other 2 functions are extremely useful to have when using aacgm and weimer.

In order to properly drive [weimer](https://agupub

[2020-03-25 07:57] TeriForey opened #50 "Convert LatLon returning NaN"
**Describe the bug**
I'm trying to convert a series of glat,glon coordinates into mlat,mlon for a bunch of different dates. Depending on the date, I either return value or an array of NaN.

For example, converting the same 5 coordinates at different dates produces:
[code]

**To Reproduce**

To reproduce, convert the following at different dates:
[code]

**Expected behavior**
I would expect it to r

[2020-03-25 12:51] aburrell commented on #49
Thanks for the input @asreimer.  I wasn't sure if anyone was using them, and wanted to get rid of anything unnecessary.  Since they are useful for something directly related to AACGMV2, I agree that it makes sense to keep `subsol` and `igrf_dipole_axis`.  `utils` seems sensible, though it may be simpler to just move them to the main function level.

[2020-03-25 12:54] aburrell commented on #50
This issue was identified previously in issue #42 and fixed in the 2.6.0 release.

[2020-03-25 12:54] #50 closed

[2020-03-30 13:49] vascoamaralgrilo opened #51 "Installation error"
Good afternoon,

I was trying to install aacgmv2 with pip as suggested in the quick start, but I get an installation error. The output is presented below.

Any help would be very appreciated.

Kind regards,

Vasco Grilo

(venv) C:\Users\vasco\Documents\Education\Trabalhos\University 5th year - 2019 2020\2nd semester\Msc thesis\calcs>pip install aacgmv2
Collecting aacgmv2
  Using cached https://fil

[2020-03-30 16:56] aburrell commented on #51
Hi @vascoamaralgrilo, it looks like this is an issue with the Windows 10 operating system.  There are some fixes presented here: https://github.com/Azure/azure-iot-sdk-python/issues/82.  Can you try them out and let me know if they work?

[2020-04-02 21:52] vascoamaralgrilo commented on #51
Thank you very much, installing windows 10 SDK as suggested on one of the links you provided solved the issue!Kind regards,Vasco Sent from Mail for Windows 10 From: Angeline BurrellSent: 30 March 2020 17:56To: aburrell/aacgmv2Cc: vascoamaralgrilo; MentionSubject: Re: [aburrell/aacgmv2] Installation error (#51) Hi @vascoamaralgrilo, it looks like this is an issue with the Windows 10 operating syste

[2020-04-03 12:18] aburrell commented on #51
I'm glad that worked!

[2020-04-03 12:18] #51 closed

[2020-08-05 13:37] st-bender commented on #49
I would also have appreciated if `convert` would not have been removed.

[2020-08-05 13:53] aburrell commented on #49
@st-bender I appreciate your feedback.  However, the functionality of convert exists in other, more inclusive routines and so is not in the queue to be added back in.

[2020-08-06 08:38] st-bender commented on #49
I disagree, the current interface does not come close to the simplicity and ease of use that `convert()` once provided. What was wrong with it?

[2020-08-06 08:38] st-bender commented on #49
I disagree, the current interface does not come close to the simplicity and ease of use that `convert()` once provided. What was wrong with it?

[2020-08-27 14:45] aburrell opened #53 "Active or remove unused code quality tools"
**Describe the bug**
Some of the code quality tools that have been used in the past are currently not being used.  However, the old badges are being displayed.

**Solution**
To fix this, the accounts need to be reactivated and PR triggers for these applications need to be fixed.  Alternatively, their use should be removed and the accounts closed.  The relevant applications are:

- [x] Codacy
- [x]

[2020-08-27 14:55] aburrell opened #54 "Improve unit test coverage"
**Is your feature request related to a problem? Please describe.**
Coveralls places code coverage between 80-90%.

**Describe the solution you'd like**
This should be improved to above 95% at a minimum.

**Describe alternatives you've considered**
Leaving it alone.

For coverage status see: https://coveralls.io/github/aburrell/aacgmv2

[2020-08-27 14:57] aburrell commented on #53
Updated account for Code Climate, which currently runs on the Master branch.  This is acceptable for the current level of development.

[2020-08-27 15:15] aburrell opened #55 "Testing Python 3.7+ on Windows x64"
**Describe the bug**
Python 3.7+ fails on Windows x64 architecure.

**To Reproduce**
Steps to reproduce the behavior:
1. python setup.py install
2. See error

[code]

**Expected behavior**
The package should install without errors

**Desktop (please complete the following information):**
 - OS: Visual Studio 2015
 - Version: Python 3.7 and 3.8
 - Running on AppVeyor

**Suggested Solution**
Use Min

[2020-08-28 12:23] aburrell commented on #53
CodeCov stopped being used in commit https://github.com/aburrell/aacgmv2/commit/a9ad5984fbcd4b6806ec0c4a428ed40f5ad2dd06, so the path forward is to remove the badge.

[2020-08-31 14:09] aburrell commented on #49
@asreimer would you mind reviewing the PR #57 ?

[2020-08-31 14:10] aburrell commented on #53
Codacy is now working, it needed the webhook to be updated in the GitHub repository settings.

[2020-09-04 12:03] #54 closed

[2020-09-04 12:03] #53 closed

[2020-09-04 12:04] #49 closed

[2020-09-04 12:07] aburrell opened #59 "Remove Python 2 support"
**Is your feature request related to a problem? Please describe.**
Support for python 2 ended at the beginning of 2020.

**Describe the solution you'd like**
In the next release, remove support for python 2

**Describe alternatives you've considered**
Continuing to support python 2, but this becomes increasingly difficult as upstream packages drop their support.

[2020-09-04 21:22] hugovk commented on #59
Please see PR https://github.com/aburrell/aacgmv2/pull/61.

[2020-09-09 13:15] aburrell opened #62 "Add a zenodo.json file"
**Is your feature request related to a problem? Please describe.**
When new people contribute, it can be difficult to get their information for the Zenodo DOI reference.

**Describe the solution you'd like**
Adding a zenodo.json file ensures all authors are correctly acknowledged.  Follow the same structure as https://github.com/pysat/pysat/pull/519.

**Describe alternatives you've considered**
Th

[2020-09-09 13:19] aburrell commented on #62
This will require an update to the contributing guidelines.

[2020-09-09 17:01] #59 closed

[2020-09-09 17:01] aburrell commented on #62
For future reference: #61 has a necessary ORCiD.

[2020-12-10 19:29] #62 closed

[2021-01-06 16:46] aburrell commented on #55
Appveyor recommends using a newer Visual Studio option for testing.  In the future, the testing environment needs to support both python and C: https://www.appveyor.com/docs/lang/cpp/

[2021-01-06 18:21] #55 closed

[2021-04-17 19:32] zemarchezi opened #69 "Convert LatLong from GEO to ACGM for year 2021"
I'm trying to convert the coordinates, from geographic to geomagnetic, for 2021-04-12, and I got an error, saying that it is impossible to set that time in the "AACGM_v2_SetDateTime" function.

I'm using Python 3.9.

Steps to reproduce the behavior:

import datetime
import aacgmv2
dt = datetime.datetime.strptime('20210412', '%Y%m%d')

cgm_lat, cgm_lon, cgm_r = aacgmv2.convert_latlon(53.856, 265.34

[2021-04-19 13:08] aburrell commented on #69
Following your exact code snippit on:
- python 3.9.2
- AACGMV2 2.6.2
- mac OS X Mojave

I get no error.
[code]

Yields
[code]

What version of AACGMV2 are you using?  Since Manjaro is Linux, I expect it to behave sensibly.  However, the date you're using would cause issues with older versions of AACGMV2 since the coefficients don't go that far into their future.

[2021-04-20 16:48] zemarchezi commented on #69
Thank you!

I believe the problem was in some update in my system. I tried another computer today, and it works fine.

Thank you again.

[2021-04-20 16:48] #69 closed

[2021-05-18 13:17] aburrell opened #70 "More use examples"
**Is your feature request related to a problem? Please describe.**
Some people have trouble figuring out how to use the functions for their own purposes

**Describe the solution you'd like**
More use examples in the documentation

**Describe alternatives you've considered**
Answering questions as they come up

**Reminders**
This is a volunteer-driven project.  Code contributions are welcome, as is

[2021-06-30 05:28] gregstarr opened #71 "Environment variables error in Windows"
**Describe the bug**
`aacgmv2` appears to install normally with pip. Python crashes during `c_aacgmv2.set_datetime`(https://github.com/aburrell/aacgmv2/blob/main/aacgmv2/wrapper.py#L226). The problem is that in `__init__.py`, the newly set environment variables aren't being seen by the backend C code. This causes the C code to crash during the call to `getenv`(https://github.com/aburrell/aacgmv2/b

[2021-06-30 17:25] aburrell commented on #71
Thanks!  I will first check and see if I can reproduce this on my mac.  That should help us see if it's OS specific or due to a change in the way the environment variables are set or accessed.

[2021-07-15 15:22] aburrell commented on #71
Ok, can verify that I cannot reproduce this bug in OS X Sierra, python 3.7.9.  I will poke around the internet and see if I can see why the environment variables aren't being set in your version of windows.  It is working on AppVeyor with Visual Studio 2019.

[2021-07-15 15:34] aburrell commented on #71
Quick question, what happens if you try each of these (in order)?

[code]

If it's unknown on the system, it should return None.

[code]

If that works, what happens if you try that before importing aacgmv2 and then try your test code?  It would basically be doing what init does manually.  I am wondering if it's a problem with the `os` module interface.  The docs claim it should work on Windows, s

[2021-07-15 19:11] gregstarr commented on #71
Side note: probably unrelated, in order to get it to compile I had to replace `msvcr140` in `anaconda3\envs\aacgm\Lib\distutils\cygwinccompiler.py` with `vcruntime140`

[2021-07-15 19:13] gregstarr commented on #71
![image](https://user-images.githubusercontent.com/6515693/125844229-e224a19c-581d-4a6d-8647-eb8201ea271c.png)

[2021-07-15 19:20] aburrell commented on #71
Huh.  This is very confusing.  I agree that the compilation steps you made shouldn't be an issue.  Short term we can put a note in the docs about this being a potential issue and how to solve it.  I will try to think of another way to track down what's going on with the environment variables.

[2021-08-01 10:49] hlmxlj2018 commented on #71
Pycharm cannot be installed aacgmv2.At the same time, PIP cannot be installed.

[2021-09-01 17:34] mshumko opened #72 "Lists in docstrings are unintentionally merged by Sphinx into a paragraph."
**Describe the bug**
Lists in docstrings are unintentionally merged by Sphinx into a paragraph. One example of this is the [method_code section](https://github.com/aburrell/aacgmv2/blob/fdc1aefe72f747d256a9a666982d7ac09d571203/aacgmv2/wrapper.py#L166-L174) of `convert_latlon()` that is written as a list in the docstring, but is merged into [one paragraph](https://aacgmv2.readthedocs.io/en/latest/r

[2021-11-09 09:52] hlmxlj2018 commented on #70
Sorry, excuse me. I want to know if, after altitude correction of orbits using AACGM module, the input is satellite (geographic latitude, geographic longitude and altitude) and the output is (magnetic latitude, magnetic longitude, magnetic place). Is the corresponding output altitude location the default surface height or something else?

[2021-11-09 10:00] hlmxlj2018 commented on #70
Sorry, excuse me. Using the AACGM module for altitude correction of orbits, satellites are input (geographic latitude, geographic longitude and altitude) and outputs (magnetic latitude, magnetic longitude, magnetic place). I want to know if the corresponding output altitude location is the default surface height or something else?

[2021-11-09 13:43] aburrell commented on #70
It depends on the flags you're using.  As stated in the docs, the returned height is either geocentric radial distance or height above the surface of the Earth (https://aacgmv2.readthedocs.io/en/latest/reference/aacgmv2.html). Can you give me a code example?  For best formatting, be sure to flank the commands between three accent marks ('`').

[2021-11-09 14:00] hlmxlj2018 commented on #70
For example: '''aacgmv2.wrapper.get_aacgm_coord_arr(glat, glon, height, dtime, method='TRACE')'''.  In this case, in_Lat, in_lon, height, and dtime, the four input values are the satellite's current latitude, longitude, altitude, and time.  The output result is' MLAT ',' MLON ',' MLT ', there is no height information in the result, but there is height information in the input data, I want to know

[2021-11-09 14:05] aburrell commented on #70
It's at the height you input (`height`). That's why no height information is output, it is used in the calculation and not altered.

[2021-11-09 14:17] hlmxlj2018 commented on #70
If "`height" refers to the output altitude, how can I determine the current position of the satellite only by( "glat" , "glon" )when I input it?In the same geographic longitude and latitude, but at different altitudes, the corresponding geomagnetic field lines are also different. How can we correct them？
So what I don't understand is that if the "height" here refers to the given height after outpu

[2021-11-09 14:33] hlmxlj2018 commented on #70
Isn't the function of AACGM to track a satellite position to another low altitude plane according to the geomagnetic field line

[2021-11-09 14:37] aburrell commented on #70
No, the function of AACGMV2 to convert between magnetic and geodetic or geographic coordinates using  Version 2 of the Altitude-Adjusted Corrected Geomagnetic Coordinates, as stated in the documentation: https://aacgmv2.readthedocs.io/en/latest/readme.html

[2021-11-09 14:41] hlmxlj2018 commented on #70
Is the function of AACGM similar to converting the geographic coordinate information of a point of the satellite into the AACGM coordinate information of the current position. The satellite coordinate information cannot be tracked along the geomagnetic line to a plane at a low altitude

[2021-11-09 14:59] aburrell commented on #70
@hlmxlj2018 I don't really understand what you're asking.  All AACGMV2 does is convert between geographic/geodetic and magnetic coordinates.  If you know where your satellite is, then you can get its location in magnetic coordinates.  If you don't know where it is (in latitude, longitude, and altitude), then AACGMV2 isn't going to help.

[2021-11-10 06:54] hlmxlj2018 commented on #70
After inputting the current geographic location (latitude, longitude and altitude) of the satellite into the program, the output result is actually only to convert the geographic coordinates into geomagnetic coordinates.
Is my current understanding correct?
I originally thought that the AACGM module could project the 840km satellite position along the magnetic field line to other heights, such as

[2021-11-10 13:00] aburrell commented on #70
That may be possible, but is not a use case I have encountered.  It would require a careful reading of the papers to make sure you're going about it correctly.  If possible, it would be a multi-step process along the lines of:
1) Find geomagnetic coordinates at current location
2) Extract geomagnetic elements that remain the same for tracing
3) Use those in the call at the desired altitude.

[2021-11-30 09:03] JouleCai opened #73 "RuntimeError when using the package"
**Describe the bug**
A RuntimeError can be raised when calling the package in PyCharm or VS code.

**To Reproduce**
The package usually works fine in Spyder. However, when I compile my codes in PyCharm or VS Code, a RuntimeError is sometimes raised due to the function " c_aacgmv2.set_datetime" in aacgmv2.wrapper.convert_latlon_arr cannot set the datetime.

This error does not always appear. Someti

[2021-12-01 23:09] dinsmoro opened #74 "aacgmv2.convert_latlon_arr causes a memory leak"
**Describe the bug**
aacgmv2.convert_latlon_arr causes a memory leak in the Python instance it is run in. For an array of 6000 points the memory leak seems to be 0.5 MB to 0.6 MB in size for each run. aacgmv2.convert_latlon (when run with the appropriate for loop to support it) does not seem to have the same memory leak issue.

`gc.collect()` cannot reclaim the memory. Killing the Python instance

[2021-12-06 14:17] aburrell commented on #74
I will look into this, it would be better to have this run efficiently.  Thank you for your report!

[2021-12-07 10:18] JouleCai commented on #73
The error usually occurs when I or other users run my package (https://github.com/JouleCai/geospacelab) initially using either PyCharm or VS Code. Actually, after I switch to Spyder and run the codes several times, the problem sometimes is solved. As you suggested, maybe Spyder compiles the C code correctly, and Pycharm/VS code follows the executables.
I have added a notice regarding this issue. S

[2022-04-05 11:09] JouleCai commented on #73
Hi,

Please let me describe the issue again: a runtime error would be returned from the function AACGM_v2_SetDateTime in the c library in ``aacgmv2``, when ``aacgmv2`` is called from another package imported in the current package rather than from the current package itself.  The issue might be associated with ``cython``, which should be installed before the installation of ``aacgmv2``.  See also

[2022-06-27 00:21] bcmartinez38 opened #75 "RunTime error while trying to convert geographic coordinates to geomagnetic"
Hi, I'm having issues converting some coordinates that should be straightforward based on the documentation. I am converting a full globe worth of data points, but for some reason I am getting a runtime error on most (but not all) points. For example,

`unable to perform conversion at 17.5,8.8 300.0 km, 2020-02-17 00:00:00 using method 4: <class 'RuntimeError'>`

I tried with every method and at d

[2022-08-11 10:07] zamkat opened #76 "python crashes when running aacgmv"
I'm running Python 3.9 through Anaconda on a Windows 10 (x64 bit) machine. In order to install the AACGM python using the pip command, I had to first install a c-compiler, I chose GCC for windows (MinGW GCC 6.3.0). When I test the python code using an example similar to the one given in the README file, python crashes, see file with steps taken:

![AACGM_conversion_test](https://user-images.github

[2022-09-20 13:45] zamkat commented on #76
The issue has been resolved. I had to install Microsoft C++ Build tools (https://visualstudio.microsoft.com/visual-cpp-build-tools/) and MingW  first before installing this AACGM Python wrapper. For MingW, I found this file mingw-get-setup.exe to be helpful (instructions found here https://www.osradar.com/how-to-install-mingw-on-windows-10/). I had to restart my computer after every installation f

[2022-09-20 13:45] #76 closed